.main_container {
    display: flex;
    flex-direction: column;
    /* width: 1136px; */
    padding: 0 24px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    /* margin-left: auto;
    margin-right: auto; */
    box-sizing: border-box;
    overflow: hidden;
}

.select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.select h1 {
    font-family: 'PretendardBold';
    font-size: 54px;
    margin: 0 0 32px 0;
}

.areas {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    max-width: 1136px;
    width: 100%;
}

h3 {
    font-family: 'PretendardBold';
    font-size: 24px;
    margin: 0 0 8px 0;
}

p {
    font-family: 'PretendardRegular';
    font-size: 16px;
    margin: 0 0 8px 0;
}

.popular_area {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    background-color: #CEDEFF;
    padding: 60px 24px;

    position: relative;
    width: calc(100% + 48px);
    box-sizing: border-box;
}

.popular_container {
    width: 1136px;
    margin-left: auto;
    margin-right: auto;
}

.popular_box {
    width: 376px;
    height: 240px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: #484848;
    font-family: 'PretendardBold';
    font-size: 24px;
    color: white;
    position: relative;
    cursor: pointer;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.popular_box::after {
    position: absolute;
    left: 21px; /* 왼쪽 여백 */
    bottom: 15px; /* 하단 여백 */
    font-family: 'PretendardBold';
    font-size: 24px;
    color: white;
}

.popular_box:hover::after {
    content: '';
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.img_container {
    display: flex;
    margin-top: 20px;
}

.popular_box img {
    position: absolute;
    top: 12px;
    right: 12px;
}

.popular_hashtags {
    display: flex;
    flex-direction: column;
    margin: 80px 0 120px 0;
    max-width: 1136px;
    width: 100%;
}

.popular_hashtags_container {
    display: flex;
    gap: 12px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.popular_hashtag, 
.popular_hashtag_default {
    font-family: 'PretendardBold';
    font-size: 18px;
    background-color: #D9D9D9;
    border-radius: 32px;
    width: auto;
    padding: 21px 26px;
}

.popular_hashtag:hover {
    background-color: #CEDEFF;
    cursor: pointer;
}