.ImgSlide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slider-container {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .box {
    width: 268px;
    height: 240px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: #484848;
    font-family: 'PretendardBold';
    font-size: 24px;
    color: white;
    position: relative;
  }

  .box::after {
    position: absolute;
    left: 21px; /* 왼쪽 여백 */
    bottom: 15px; /* 하단 여백 */
    font-family: 'PretendardBold';
    font-size: 24px;
    color: white;
  }

  .box:hover {
    opacity: 50%;
    cursor: pointer;
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 10;
    background: none;
  }
  
  .left-button {
    left: 10px;
  }
  
  .right-button {
    right: 10px;
  }
  