.findid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.findid-box {
  width: 350px;
  height: 350px;
  padding: 20px;
  text-align: center;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.findid-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.findid-input {
  width: 90%;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.findid-button {
  width: 100%; /* 부모 요소 기준으로 전체 너비 */
  max-width: 330px; /* 최대 너비 설정 (원하는 크기) */
  padding: 10px;
  background-color: #5a81fa;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 37px;
  display: flex;
  justify-content: center; /* 버튼 내부 텍스트 정렬 */
  align-items: center;
  text-align: center;
  margin-left: 10px; /* 왼쪽 자동 정렬 */
  margin-right: auto; /* 오른쪽 자동 정렬 */
}

.findid-button:hover {
  background-color: #4c64f0;
}

.FindId-links {
  margin-top: 40px;
  font-size: 14px;
}

.FindId-links a {
  color: #0077b6;
  text-decoration: none;
}

.FindId-links a:hover {
  text-decoration: underline;
}

.findid-result {
  margin-top: 10px;
  font-weight: bold;
  color: green;
}
