.findpwd-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.findpwd-box {
    width: 350px;
    height:400px;
    padding: 20px;
    text-align: center;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 40px;
}

.findpwd-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.findpwd-input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.findpwd-button {
    width: 330px;  /* 부모 요소의 100% 크기로 설정 */
    max-width: 330px; /* 최대 크기 제한 */
    height: 45px;
    padding: 10px;
    background-color: #5A81FA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    text-align: center;
    font-size: 14px;
    transition: background 0.2s ease;
    margin-top: 80px;
    margin-left: 10px;
    margin-right: auto; /* 중앙 정렬 */
}

.findpwd-button:hover {
    background-color: #4c64f0;
}

.FindPwd-links {
    margin-top: 30px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.FindPwd-links a {
    color: #0077b6;
    text-decoration: none;
}

.FindPwd-links a:hover {
    text-decoration: underline;
}

.findpwd-result {
    margin-top: 15px;
    font-weight: bold;
    color: green;
}
