.findid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.findid-box {
  width: 350px;
  height: 300px;
  padding: 20px;
  text-align: center;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.findid-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.findid-input {
  width: 90%;
  height:8%;
  padding: 10px;
  margin-top: 50px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.findid-button {
  width: 96%;
  padding: 10px;
  background-color: #5A81FA;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top:60px;
}

.findid-button:hover {
  background-color: #4c64f0;
}

.findid-result {
  margin-top: 10px;
  font-weight: bold;
  color: green;
}
