.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }

/* 회원가입입 컨테이너 박스 */
.signup-box {
    width: 400px;
    height:400px;
    padding: 30px;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top:0px;
  }

  /* 회원가입 제목 */
.signup-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: -5px;
  }

/* 입력 필드 그룹을 감싸는 컨테이너 */
.input-container {
    margin-top: 30px; /* 입력 필드를 아래로 내림 */
}

/* 입력 필드 스타일 */
.login-input,
.email-input,
.name-input,
.phone-input,
.pwd-input {
    width: 90%;
    height: 15px;
    padding: 12px;
    margin: 6px 0;  
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    
}

.signup-main-button {
    width: 25%;
    padding: 12px;
    background-color: #5A81FA; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 130px;
    margin-left: -190px;
}

.signup-main-button:hover {
    background-color: #4c64f0;
  }
  
  .signup-button:hover {
    background-color: #e9ecef;
  }

  .signup-links {
    margin-top: 90px;
    text-align: center;
  }
  
  .signup-links .link-item {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    margin: 0 5px;
  }
  
  .signup-links .link-item:hover {
    text-decoration: underline;
  }
  