.mypage_container {
    margin-top: 80px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    font-family: 'PretendardRegular';
    font-size: 18px;
}

.porfile_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 8px;
}

.information p {
    font-family: 'PretendardRegular';
    font-size: 18px;
}

.info_txt_contianer {
    display: flex;
    gap: 52px;
}

.info_title {
    text-align: right;
    width: 48px;
}

.info_content {
    text-align: left;
}

.btn_container {
    display: flex;
    gap: 10px;
}

.btn_container button {
    all: unset;
    font-family: 'PretendardRegular';
    font-size: 18px;
    padding: 16px 24px;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.btn_container .delete_btn {
    background-color: #d9d9d9;
}

.delete_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.delete_modal_content {
    background-color: white;
    padding: 30px 20px 20px 20px;
    border-radius: 10px;
    text-align: center;
}
  
.delete_modal_buttons {
    margin-top: 20px;
}

.delete_cancel_btn,
.delete_confirm_btn {
  padding: 16px 40px !important;
  margin: 0 10px !important;
  border: none;
  cursor: pointer;
}

.delete_cancel_btn {
  background-color: #ccc !important;
}

.delete_confirm_btn {
  background-color: #5A81FA !important;
  color: white !important;
}

.btn_container .edit_btn {
    background-color: #CEDEFF;
}

.edit_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.edit_input {
    border: 1px solid #959595;
    border-radius: 50px;
    width: 170px;
    height: 20px;
    padding: 10px 16px;
    margin-left: -14px;
}

.edit_input input {
    all: unset;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 16px;
}

.edit_input::placeholder {
    font-size: 16px;
    font-family: 'PretendardRegular';
}

.edit_complete {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    width: 50vw;
    align-items: center;
}

.is_complete {
    font-family: 'PretendardBold';
    font-size: 18px;
}

.complete_btn_container {
    display: flex;
    gap: 10px;
}

.complete_btn_container button {
    all: unset;
    font-family: 'PretendardRegular';
    font-size: 16px;
    padding: 12px 36px;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.complete_btn_container .cancel_btn {
    background-color: #d9d9d9;
}

.complete_btn_container .edit_btn {
    background-color: #CEDEFF;
}

.likes_container {
    width: 750px;
    margin-top: 80px;
}

.like_title {
    font-family: 'PretendardBold';
    font-size: 20px;
}

.tags_container {
    display: flex;
    gap: 12px;

}

.tag {
    padding: 20px 26px;
    border: 1px solid #d9d9d9;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    color: #5A81FA;
}

.all_tags_container {
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.tags {
    padding: 20px 26px;
    background-color: #d9d9d9;
    border-radius: 60px;
    gap: 12px;
    width: auto;
    margin: 0;
    cursor: pointer;
}

.tags.active {
    background-color: #CEDEFF;
}

.likes_container {
    width: 750px;
    margin-top: 80px;
}

.like_places_container {
    gap: 12px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.myPlaces {
    background-color: #484848;
    width: 240px;
    height: 240px;
    border-radius: 10px;
    font-family: 'PretendardBold';
    font-size: 24px;
    color: white;
    position: relative;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.myPlaces::after {
    position: absolute;
    left: 21px;
    bottom: 15px;
    font-family: 'PretendardBold';
    font-size: 24px;
    color: white;
}

.myPlaces:hover::after {
    content: '';
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.myPlaces img {
    position: absolute;
    top: 12px;
    right: 12px;
}
